# Dependencies
node_modules/

# Turbo
.turbo/

# Build outputs
dist/
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Logs
*.log

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# System
.DS_Store
Thumbs.db
